@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");
* {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1100px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  body #search {
    position: absolute;
    top: 25%;
    width: 70%;
    left: 15%;
    transition: all 750ms ease-in-out;
  }
  body #search #searchInput #searchBar {
    -webkit-tap-highlight-color: transparent;
    width: calc(100% - 30px);
    border: 0;
    padding: 15px;
    border-radius: 25px;
    outline: 2px solid #a50000;
    transition: all 250ms ease-in-out;
    background-color: #fff;
  }
  body #search #searchInput #searchBar:focus {
    outline: 2px solid #000;
  }
  body #search #resList {
    margin-top: 50px;
  }
  body #search #resList .resObj {
    margin-top: 25px;
    background-color: #fff;
    padding: 10px 15px 25px 0;
  }
  body #search #resList .resObj:not(:last-child) {
    border-bottom: 2px solid #a50000;
  }
  body #search #resList .resObj a {
    text-decoration: none;
    color: #000;
    font-size: x-large;
    cursor: pointer;
  }
  body #search #resList .resObj div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body #search #resList .resObj div p {
    text-wrap: nowrap;
  }
  body #search #resList .resObj div p span {
    outline: 2px solid #a50000;
    color: #a50000;
    border-radius: 35px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  body #search #resList .resObj div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40%;
    justify-content: end;
  }
  body #search #resList .resObj div ul li {
    margin: 5px 5px;
    background-color: #a50000;
    color: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: small;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  body #textOutput {
    position: absolute;
    top: 25%;
    width: 50%;
    left: 100%;
    transition: all 750ms ease-in-out;
  }
  body #textOutput p {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
  }
  body #textOutput img {
    border: 2px solid #a50000;
    border-radius: 10px;
    width: 100%;
    max-height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  body #textOutput i {
    font-style: italic;
  }
  body #textOutput b {
    font-weight: 900;
  }
  body #backBtn {
    position: fixed;
    left: -25%;
    top: 20%;
    background-color: #a50000;
    color: #fff;
    border: 0;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
  }
  body.open #search {
    left: -100%;
  }
  body.open #textOutput {
    left: 25%;
  }
  body.open #backBtn {
    left: 10%;
  }
}
@media screen and (max-width: 1099px) {
  html,
  body {
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    height: -moz-fit-content;
    height: fit-content;
  }
  body {
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    overflow-x: hidden;
  }
  body #search {
    margin-top: 25vh;
  }
  body #search #searchInput {
    width: 100%;
    text-align: center;
  }
  body #search #searchInput #searchBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: #a50000;
    border: 0;
    color: #fff;
  }
  body #search #searchInput #searchBar:focus {
    outline: 0;
  }
  body #search #searchInput #searchBar::-moz-placeholder {
    color: #fff;
    opacity: 0.7;
  }
  body #search #searchInput #searchBar::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  body #search #resList {
    margin: 10% 5% 25% 5%;
    width: 85%;
    transition: all 250ms ease-in-out;
  }
  body #search #resList .resObj {
    padding: 15px 2.5%;
  }
  body #search #resList .resObj:not(:last-child) {
    border-bottom: 2px solid #a50000;
  }
  body #search #resList .resObj a {
    font-size: large;
  }
  body #search #resList .resObj div p {
    margin-top: 20px;
    font-size: small;
  }
  body #search #resList .resObj div p span {
    border: 2px solid #a50000;
    padding: 2.5px 10px;
    border-radius: 15px;
  }
  body #search #resList .resObj div ul {
    display: none;
  }
  body #textOutput {
    position: absolute;
    overflow: scroll;
    background-color: #fff;
    top: 0;
    left: 0;
    padding: 0 5%;
    width: 90%;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  body #textOutput img {
    width: 100%;
  }
  body #backBtn {
    position: fixed;
    left: -25%;
    top: 150px;
    transition: all 250ms ease-in-out;
    background-color: #a50000;
    border: 0;
    border-radius: 0 50px 50px 0;
    padding: 5px 10px 5px 5px;
    color: #fff;
  }
  body.open #textOutput {
    visibility: visible;
    opacity: 1;
  }
  body.open #backBtn {
    left: 0px;
  }
}/*# sourceMappingURL=style.css.map */