@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");
* {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1100px) {
  #search {
    position: absolute;
    top: 25%;
    width: 70%;
    left: 15%;
    transition: all 750ms ease-in-out;
  }
  #search #searchInput #searchBar {
    -webkit-tap-highlight-color: transparent;
    width: calc(100% - 30px);
    border: 0;
    padding: 15px;
    border-radius: 25px;
    outline: 2px solid #a50000;
    transition: all 250ms ease-in-out;
    background-color: #fff;
  }
  #search #searchInput #searchBar:focus {
    outline: 2px solid #000;
  }
  #search #resList {
    margin-top: 50px;
  }
  #search #resList .resObj {
    margin-top: 25px;
    background-color: #fff;
    padding: 10px 15px 25px 0;
  }
  #search #resList .resObj:not(:last-child) {
    border-bottom: 2px solid #a50000;
  }
  #search #resList .resObj a {
    text-decoration: none;
    color: #000;
    font-size: x-large;
    cursor: pointer;
  }
  #search #resList .resObj div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #search #resList .resObj div p {
    text-wrap: nowrap;
  }
  #search #resList .resObj div p span {
    outline: 2px solid #a50000;
    color: #a50000;
    border-radius: 35px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  #search #resList .resObj div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40%;
    justify-content: end;
  }
  #search #resList .resObj div ul li {
    margin: 5px 5px;
    background-color: #a50000;
    color: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: small;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 1099px) {
  #search {
    position: absolute;
    top: 125px;
    width: 70%;
    left: 15%;
    transition: all 750ms ease-in-out;
  }
  #search #searchInput #searchBar {
    -webkit-tap-highlight-color: transparent;
    width: calc(100% - 30px);
    border: 0;
    padding: 15px;
    border-radius: 25px;
    outline: 2px solid #a50000;
    transition: all 250ms ease-in-out;
    background-color: #fff;
  }
  #search #searchInput #searchBar:focus {
    outline: 2px solid #000;
  }
  #search #resList {
    margin-top: 25px;
  }
  #search #resList .resObj {
    margin-top: 25px;
    background-color: #fff;
    padding: 10px 15px 25px 0;
  }
  #search #resList .resObj:not(:last-child) {
    border-bottom: 2px solid #a50000;
  }
  #search #resList .resObj a {
    text-decoration: none;
    color: #000;
    font-size: x-large;
    cursor: pointer;
  }
  #search #resList .resObj div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #search #resList .resObj div p {
    text-wrap: nowrap;
  }
  #search #resList .resObj div p span {
    outline: 2px solid #a50000;
    color: #a50000;
    border-radius: 35px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  #search #resList .resObj div ul {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */