@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");
* {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #a50000;
}

@media screen and (min-width: 1100px) {
  body {
    padding: 0;
    box-sizing: border-box;
  }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #a50000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    z-index: 1;
  }
  body nav h1 {
    position: absolute;
    left: 0;
    color: #fff;
    margin: 50px;
  }
  body nav #navLinks {
    position: relative;
    right: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  body nav #navLinks a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    margin-top: 0;
  }
  body nav #navLinks a:hover {
    margin-top: -3px;
  }
  body nav #burgerBtn {
    visibility: hidden;
  }
}
@media screen and (max-width: 1099px) {
  body {
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
  }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #a50000;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
  }
  body nav h1 {
    color: #fff;
    margin: 10%;
  }
  body nav #navLinks {
    position: absolute;
    background-color: #a50000;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 250ms ease-in-out;
    z-index: 100;
    visibility: hidden;
  }
  body nav #navLinks a {
    color: #fff;
    text-decoration: none;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    margin: 5%;
  }
  body nav #navLinks.open {
    right: 0;
    visibility: visible;
  }
  body nav #burgerBtn {
    height: 30px;
    width: 35px;
    right: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    z-index: 100;
  }
  body nav #burgerBtn div {
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 250ms ease-in-out;
  }
  body nav #burgerBtn::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 250ms ease-in-out;
    margin-top: 50%;
  }
  body nav #burgerBtn::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 250ms ease-in-out;
    margin-bottom: 50%;
  }
  body nav #burgerBtn.open div {
    opacity: 0;
  }
  body nav #burgerBtn.open::before {
    transform: rotate(-45deg);
    margin-top: 0;
  }
  body nav #burgerBtn.open::after {
    transform: rotate(45deg);
    margin-bottom: 0;
  }
}/*# sourceMappingURL=general.css.map */