@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
$prime: #a50000;
$dark: #000;
$light: #fff;
* {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

 ::-webkit-scrollbar {
    width: 7.5px;
}

 ::-webkit-scrollbar-track {
    background: $light;
}

 ::-webkit-scrollbar-thumb {
    background: $prime;
}

@media screen and (min-width: 1100px) {
    body {
        padding: 0;
        box-sizing: border-box;
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background-color: $prime;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            z-index: 1;
            h1 {
                position: absolute;
                left: 0;
                color: $light;
                margin: 50px;
            }
            #navLinks {
                position: relative;
                right: 50px;
                height: 100%;
                display: flex;
                flex-direction: row;
                a {
                    color: $light;
                    text-decoration: none;
                    height: 100%;
                    padding: 0 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 200ms ease-in-out;
                    margin-top: 0;
                    &:hover {
                        margin-top: -3px;
                    }
                }
            }
            #burgerBtn {
                visibility: hidden;
            }
        }
    }
}

@media screen and (max-width: 1099px) {
    body {
        box-sizing: border-box;
        padding: 0;
        overflow-x: hidden;
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 70px;
            background-color: $prime;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 99;
            h1 {
                color: $light;
                margin: 50px;
            }
            #navLinks {
                position: absolute;
                background-color: $prime;
                right: -100%;
                top: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: all 250ms ease-in-out;
                z-index: 100;
                a {
                    color: $light;
                    text-decoration: none;
                    padding: 0 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 200ms ease-in-out;
                    margin: 5%;
                }
                &.open {
                    right: 0;
                }
            }
            #burgerBtn {
                height: 30px;
                width: 35px;
                right: 10%;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 250ms ease-in-out;
                z-index: 100;
                div {
                    height: 3px;
                    width: 100%;
                    background-color: $light;
                    transition: all 250ms ease-in-out;
                }
                &::before {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    background-color: $light;
                    transition: all 250ms ease-in-out;
                    margin-top: 50%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    background-color: $light;
                    transition: all 250ms ease-in-out;
                    margin-bottom: 50%;
                }
                &.open {
                    div {
                        opacity: 0;
                    }
                    &::before {
                        transform: rotate(-45deg);
                        margin-top: 0;
                    }
                    &::after {
                        transform: rotate(45deg);
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}