@media screen and (min-width: 1100px) {
  #searchBar {
    position: relative;
    right: 2.5%;
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: row;
  }
  #searchBar #searchBarInput {
    background-color: #fff;
    border-radius: 20px;
    border: 0;
    width: 100%;
    padding: 15px;
  }
  #searchBar #searchBarInput:focus {
    outline: 0;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px solid #a50000;
  }
  #searchBar #searchBarInput::-moz-placeholder {
    color: #000;
    opacity: 0.7;
  }
  #searchBar #searchBarInput::placeholder {
    color: #000;
    opacity: 0.7;
  }
  #searchBar #searchList {
    position: absolute;
    top: 10px;
    padding: 0 5%;
    width: 90%;
    background-color: #fff;
    z-index: -1;
    padding-top: 30px;
    outline: 3px solid #a50000;
    border-radius: 10px;
    visibility: hidden;
    overflow-y: scroll;
    height: 50vh;
  }
  #searchBar #searchList.open {
    visibility: visible;
  }
  #searchBar #searchList p {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: padding 250ms ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #searchBar #searchList p * {
    margin: 5px;
  }
  #searchBar #searchList p span {
    position: relative;
    width: 50%;
    text-align: end;
  }
  #searchBar #searchList p:not(:last-child) {
    border-bottom: 2px solid #000;
  }
  #searchBar #searchList p:hover {
    padding: 17.5px 0;
    cursor: pointer;
  }
  #map {
    position: fixed;
    width: 70%;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
  }
  #personWindow {
    position: fixed;
    width: 30%;
    height: calc(100% - 70px);
    top: 70px;
    right: 0;
    border-left: 3px solid #a50000;
    padding-top: 25px;
  }
  #personWindow #personName {
    color: #a50000;
    text-align: center;
    margin: 25px;
  }
  #personWindow #personDates {
    color: #000;
    text-align: center;
    word-spacing: 1pt;
  }
  #personWindow div {
    margin: 75px 0 0 25px;
    width: 75%;
  }
  #personWindow div p {
    color: #000;
    width: 100%;
    word-wrap: break-word;
  }
  #personWindow div p div {
    border: 2px solid #a50000;
    border-radius: 35px;
    width: 100%;
    margin: 25px 0;
    padding: 15px 15px;
  }
  #personWindow div p div span {
    color: #a50000;
  }
  #personWindow #personCoords {
    color: #000;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #personWindow #personCoords span {
    color: #a50000;
    border: 2px solid #a50000;
    border-radius: 35px;
    padding: 10px 15px;
  }
  #personWindow #personOpenBtn {
    visibility: hidden;
  }
}
@media screen and (max-width: 1099px) {
  #searchBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  #searchBar #searchBarInput {
    background-color: #a50000;
    border: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
  }
  #searchBar #searchBarInput:focus {
    outline: 0;
  }
  #searchBar #searchBarInput::-moz-placeholder {
    color: #fff;
    opacity: 0.7;
  }
  #searchBar #searchBarInput::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  #searchBar #searchList {
    position: fixed;
    bottom: 50px;
    padding: 0 5vw;
    width: 90vw;
    background-color: #fff;
    padding-top: 5%;
    outline: 3px solid #a50000;
    visibility: hidden;
    overflow-y: scroll;
    height: 40vh;
  }
  #searchBar #searchList.open {
    visibility: visible;
  }
  #searchBar #searchList p {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: padding 250ms ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #searchBar #searchList p * {
    margin: 5px;
  }
  #searchBar #searchList p span {
    position: relative;
    width: 50%;
    text-align: end;
  }
  #searchBar #searchList p:not(:last-child) {
    border-bottom: 2px solid #000;
  }
  #searchBar #searchList p:hover {
    padding: 17.5px 0;
    cursor: pointer;
  }
  #map {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 50px - 70px);
    bottom: 50px;
    left: 0;
  }
  #personWindow {
    position: absolute;
    width: 95vw;
    height: calc(100vh - 70px - 50px);
    top: 70px;
    left: -100vw;
    padding-left: 5vw;
    padding-top: 25px;
    transition: all 250ms ease-in-out;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  #personWindow #personName {
    margin: 0;
    color: #a50000;
    width: 75vw;
    word-wrap: break-word;
  }
  #personWindow #personDates {
    color: #000;
    word-spacing: 1pt;
  }
  #personWindow div {
    margin-top: 25px;
    width: 75%;
  }
  #personWindow div p {
    color: #000;
    width: 100%;
    word-wrap: break-word;
  }
  #personWindow div p div {
    border: 2px solid #a50000;
    border-radius: 15px;
    width: 100%;
    word-wrap: break-word;
    padding: 10px;
  }
  #personWindow div p div span {
    color: #a50000;
    word-wrap: break-word;
  }
  #personWindow #personCoords {
    color: #a50000;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    word-wrap: break-word;
    border: 2px solid #a50000;
    border-radius: 15px;
    padding: 10px;
  }
  #personWindow #personCoords span {
    color: #000;
    text-align: center;
    margin-left: 10px;
  }
  #personWindow #personOpenBtn {
    position: fixed;
    left: 5px;
    top: 45vh;
    font-size: xx-large;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    color: #fff;
    background-color: #a50000;
    transition: all 250ms ease-in-out;
    width: 25px;
    height: 25px;
  }
  #personWindow #personOpenBtn::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: #fff;
    transform: rotate(-45deg);
    right: 40%;
    top: 10%;
  }
  #personWindow #personOpenBtn::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: #fff;
    transform: rotate(45deg);
    right: 40%;
    bottom: 10%;
  }
  #personWindow.open {
    left: 0;
  }
  #personWindow.open #personOpenBtn {
    left: 90vw;
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=style.css.map */