@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");
* {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

@media screen and (min-width: 850px) {
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #a50000;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
  }
  body nav h1 {
    color: #fff;
    margin: 50px;
  }
  body nav #navLinks {
    position: absolute;
    right: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  body nav #navLinks a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    margin-top: 0;
  }
  body nav #navLinks a:hover {
    margin-top: -3px;
  }
  body nav #burgerBtn {
    visibility: hidden;
  }
  body main {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body main h2,
  body main p {
    margin-left: 15%;
    line-height: 25px;
  }
  body main #contactLink {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    background-color: #a50000;
    border-radius: 25px;
    transition: all 250ms ease-in-out;
  }
  body main #contactLink:hover {
    padding: 15px 40px;
  }
  body #contact {
    position: absolute;
    top: 100%;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body #contact h1 {
    color: #fff;
    margin-left: 10%;
  }
  body #contact div {
    border-left: 3px solid #a50000;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  body #contact div a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
  }
  body #contact div a span {
    margin-right: 10px;
  }
}
@media screen and (max-width: 849px) {
  body {
    overflow-x: hidden;
  }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #a50000;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
  }
  body nav h1 {
    color: #fff;
    margin: 50px;
  }
  body nav #navLinks {
    position: absolute;
    background-color: #a50000;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 250ms ease-in-out;
  }
  body nav #navLinks a {
    color: #fff;
    text-decoration: none;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    margin: 5%;
  }
  body nav #navLinks.open {
    right: 0;
  }
  body nav #burgerBtn {
    height: 30px;
    width: 35px;
    right: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    z-index: 100;
  }
  body nav #burgerBtn div {
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 250ms ease-in-out;
  }
  body nav #burgerBtn::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 250ms ease-in-out;
    margin-top: 50%;
  }
  body nav #burgerBtn::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 250ms ease-in-out;
    margin-bottom: 50%;
  }
  body nav #burgerBtn.open div {
    opacity: 0;
  }
  body nav #burgerBtn.open::before {
    transform: rotate(-45deg);
    margin-top: 0;
  }
  body nav #burgerBtn.open::after {
    transform: rotate(45deg);
    margin-bottom: 0;
  }
  body main {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main h2,
  body main p {
    line-height: 25px;
    text-align: center;
    width: 70%;
  }
  body main #contactLink {
    position: absolute;
    top: calc(100vh - 50px);
    left: 0;
    width: 100vw;
    height: 50px;
    color: #fff;
    text-decoration: none;
    background-color: #a50000;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body #contact {
    position: absolute;
    top: 100vh;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #contact h1 {
    color: #fff;
    margin-top: 10vh;
  }
  body #contact div {
    border-top: 3px solid #a50000;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
  }
  body #contact div a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
  }
  body #contact div a span {
    margin-right: 10px;
  }
}/*# sourceMappingURL=index.css.map */